.landing {
  //   border: 1px solid red;
  //   overflow: hidden;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  height: 250px;

  &__logo {
    font-size: 36px;
    color: white;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: 5px solid white;
    display: inline-block;
    padding: 10px 20px;
    font-weight: bold;
    line-height: 37px;
  }
  &__title {
    font-size: 20x;
    color: white;
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    padding: 10px;
    letter-spacing: 1px;
  }
  &__subtitle {
    font-size: 18px;
    font-family: "Ubuntu", sans-serif;
    color: white;
    text-align: center;
    padding: 5px;
  }
}
