$primary_color: white;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;

  a {
    color: $primary_color;
  }
}

.home {
  min-height: 100vh;
  padding: 2.5%;
  background-image: linear-gradient(
    150deg,
    #1a2b6d,
    #503f8a,
    #8155a6,
    #b36bbf,
    #e683d7,
    #ff9ceb
  );
}
.logo {
  font-size: 30px;
  border: 5px solid $primary_color;
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
  line-height: 37px;
}
.navbar {
  color: $primary_color;
}

.menu {
  float: right;
  font-size: 20px;
  padding-top: 2.5%;
  width: 30%;
  text-align: left;

  &:last-child {
    padding-right: 0;
  }
  &-item {
    padding: 0px 10px;
    line-height: 30px;
  }
}
