@media only screen and (max-width: "600px") {
  .test {
    position: absolute;
    background: linear-gradient(to bottom, #24c6dc, #514a9d);
    padding: 5px;
    border-radius: 10px 10px 0 0;
    bottom: 0%;
    width: 100%;
  }
}
