.topbar {
  &__container {
    position: fixed;
    z-index: 100;
    height: 7.5vh;
    // top: 50%;
    // transform: translateY(-50%);
    width: 100vw;
    background: linear-gradient(to bottom, #24c6dc, #514a9d);

    // border: 1px solid red;
  }
  &__logo {
    font-size: 24px;
    color: white;
    text-align: center;
    border: 5px solid white;
    display: inline-block;
    padding: 3px 7px;
    font-weight: bold;
    line-height: 37px;
  }

  &__username {
    // border: 1px solid red;
    display: inline-block;
    color: white;
    font-size: 24px;
    position: relative;
    padding: 0px 10px;
    left: 90%;
    transform: translate(-100%, 20%);
  }
  &__signout {
    color: white;
    display: inline-block;
    font-size: 32px;
    position: relative;
    left: 70%;
    transform: translate(-100%, 20%);
  }
}
